.nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 25px;
    display: flex;
    padding: 20px;
    z-index: 1;

    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;

}

.nav_black{
    background-color: #111;
}