.row{
    margin-left: 20px;
    color: black;
    margin-top: 5px;
    
}


.title{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
}


.rowPosters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
    transition: transform 450ms;
}
.rowPosters::-webkit-scrollbar{
    display: none;
}
.rowPosters:hover{
    transition: transform 450ms;
    transform: scale(1.05);
}

.rowPoster{
     object-fit: contain;
    width:100%;
    max-height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
}

.rowPoster:hover{
    transform: scale(1.05);

}

.rowPosterLarge{
    max-height: 250px;
}
.rowPosterLarge:hover{
    transform: scale(1.09);
}

/* body{
    background-color: black;
    color: white;
} */